
{% block content %}
{% load static %}
<head>
        <link rel="icon"  href="{%  static 'site_face/favicon/myfavicon.png' %}" type="image/png">
</head>
<html> 
<link rel='stylesheet' type="text/css" href="{% static 'site_face/style.css' %}">
<body <img class='background-image' src="{% static 'site_face/images/stockmountains.jpg' %}"> 
<header>
<div>
<ul>
    <li class= "logo-link"><a href="{% url 'home' %}"><img src="{% static 'site_face/images/drawing.svg' %}"></a></li>
    <li class="header-link"><a href="{% url 'resorts' %}">Resorts</a></li>
    <li class="header-link"><a href="{% url 'booking' %}">Booking</a></li>
    <li class="header-link"><a href="{% url 'gear' %}">Gear</a></li>
    <li class="header-search"><input type="text" placeholder="Search Resorts.." onclick="this.placeholder = ''" onblur="this.placeholder = 'Search Resorts..'"></li>

</ul>
</div>
</header>
    <table><caption>Top 10 Coldest Resorts</caption>
        <tr><div class="dailyhighcold"></div>
            <th>Resort</th>
            <th>Base Temperature</th>
        </tr>
        {% for info in top_ten_coldest%}
        <tr>
            <td><a href="{% url 'resort_detail' slug=info.slug %}">{{ info.resort_name }}</a></td>
            <td>{{ info.bottom_maxtemp }}°<sup>F</sup></td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
</div>
</header>
    <table><caption>Top 10 Highest Projected Snowfall</caption>
        <tr><div class="dailyhighsnow"></div>
            <th>Resort</th>
            <th>Projected Snowfall</th>
        </tr>
        {% for info in top_ten_snow%}
        <tr>
            <td><a href="{% url 'resort_detail' slug=info.slug %}">{{ info.resort_name }}</a></td>
            <td>{{ info.snowfall }}<sup>in</sup></td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>





{% endblock %}
</body>